.button{
    background: rgb(80, 80, 219);
    color: white;
    transition: 0.3s;
    border: none;
}
.button:hover{
    border: 1px solid rgb(80, 80, 219);
    background: white;
    color: black;
}